{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/signin.css') }}"
{% endblock %}
{% block body %}
<body class="text-center">
<main class="form-signin">
    <form method="post">
        {{ form_start(registrationForm) }}
        <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
        <div class="form-floating">
            {{ form_label(registrationForm.email, null, {'label_attr': {'class': 'sr-only'}}) }}
            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder' : 'Email', 'type': 'email'}}) }}
        </div>
        <div class="form-floating">
            {{ form_label(registrationForm.plainPassword, null, {'label_attr': {'class': 'sr-only'}})  }}
            {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder' : 'Password'}}) }}
        </div>
        <div class="form-floating">
            {{ form_label(registrationForm.repeatPassword , null, {'label_attr': {'class': 'sr-only'}})  }}
            {{ form_widget(registrationForm.repeatPassword, {'attr': {'class': 'form-control', 'placeholder' : 'Repeat Password'}}) }}
        </div>
        <div class="form-floating">
            {{ form_label(registrationForm.firstName, null, {'label_attr': {'class': 'sr-only'}})  }}
            {{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control', 'placeholder' : 'Firstname'}}) }}
        </div>
        <div class="form-floating">
            {{ form_label(registrationForm.givenName, null, {'label_attr': {'class': 'sr-only'}})  }}
            {{ form_widget(registrationForm.givenName, {'attr': {'class': 'form-control', 'placeholder' : 'Givenname'}}) }}
        </div>
        <div class="form-floating">
            {{ form_label(registrationForm.streetName, null, {'label_attr': {'class': 'sr-only'}}) }}
            {{ form_widget(registrationForm.streetName, {'attr': {'class': 'form-control', 'placeholder' : 'Streetname'}}) }}
        </div>
        <div class="form-floating">
            {{ form_label(registrationForm.streetNumber, null, {'label_attr': {'class': 'sr-only'}})  }}
            {{ form_widget(registrationForm.streetNumber, {'attr': {'class': 'form-control', 'placeholder' : 'Streetnumber'}}) }}
        </div>
        <div class="form-floating">
            {{ form_label(registrationForm.post_code, null, {'label_attr': {'class': 'sr-only'}}) }}
            {{ form_widget(registrationForm.post_code, {'attr': {'class': 'form-control', 'placeholder' : 'Postcode'}}) }}
        </div>
        <div class="form-floating">
            {{ form_label(registrationForm.city, null, {'label_attr': {'class': 'sr-only'}}) }}
            {{ form_widget(registrationForm.city, {'attr': {'class': 'form-control', 'placeholder' : 'City'}}) }}
        </div>
        <div class="form-floating">
            {{ form_label(registrationForm.phoneNumber, null, {'label_attr': {'class': 'sr-only'}}) }}
            {{ form_widget(registrationForm.phoneNumber, {'attr': {'class': 'form-control', 'placeholder' : 'Phonenumber'}}) }}
        </div>
        <div class="form-floating">
            {{ form_label(registrationForm.agreeTerms) }}
            {{ form_widget(registrationForm.agreeTerms) }}
        </div>
        {% for error in errors %}
        <div class="form-floating">
            <div class="alert alert-danger">{{ error.message }}</div>
        </div>
        {% endfor %}
        <div class="form-floating">
            {{ form_label(registrationForm.register) }}
            {{ form_widget(registrationForm.register, {'attr': {'class': 'btn btn-lg btn-primary btn-block'}}) }}
        </div>
        <p class="mt-5 mb-3 text-muted text-center">Already have an account?</p>
        <a class="nav-link" href="{{ path("app_login") }}">Log in Here</a>
        {{ form_end(registrationForm) }}
        {% if success %}
            <div class="alert alert-success">{{ success }}</div>
        {% endif %}
    </form>
</main>
</body>


{% endblock %}
