{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/sidebars.css') }}"
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/sidebars.js') }}"></script>
            <script src="{{ asset('js/searchForm.js') }}"></script>
        {% endblock %}
{% block body %}
    {% if app.user %}
        <body>
        {{ include('sidenav.html.twig') }}
        <main>
            <div class="container">
                <br>
                <h1 class="mb-3">Search</h1>
                <form name="searchForm" id="searchForm" method="post">
                    {{ form_start(search) }}
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form_label(search.email, null, {'label_attr': {'class': 'sr-only'}}) }}
                            {{ form_widget(search.email, {'attr': {'class': 'form-control', 'placeholder' : 'Email'}}) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_label(search.first_name, null, {'label_attr': {'class': 'sr-only'}}) }}
                            {{ form_widget(search.first_name, {'attr': {'class': 'form-control', 'placeholder' : 'Firstname'}}) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_label(search.given_name, null, {'label_attr': {'class': 'sr-only'}}) }}
                            {{ form_widget(search.given_name, {'attr': {'class': 'form-control', 'placeholder' : 'Givenname'}}) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_label(search.street_name, null, {'label_attr': {'class': 'sr-only'}}) }}
                            {{ form_widget(search.street_name, {'attr': {'class': 'form-control', 'placeholder' : 'Street'}}) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_label(search.city, null, {'label_attr': {'class': 'sr-only'}}) }}
                            {{ form_widget(search.city, {'attr': {'class': 'form-control', 'placeholder' : 'City'}}) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form_label(search.phone_number, null, {'label_attr': {'class': 'sr-only'}}) }}
                            {{ form_widget(search.phone_number, {'attr': {'class': 'form-control', 'placeholder' : 'Phonenumber'}}) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            {{ form_label(search.search) }}
                            {{ form_widget(search.search, {'attr': {'class': 'w-100 btn btn-primary btn-lg', 'onclick': 'searchForUsers()'}}) }}
                        </div>
                    </div>
                    {{ form_end(search) }}
                </form>
            </div>
            <div class="container" id="table_container">
            <br>

            </div>
        </main>
        </body>
    {% endif %}
{% endblock %}
